<!doctype html>
<html>
  <head>
    <title>Flask SocketIO Demo</title>
  </head>
  <body>
    <h1>Flask SocketIO Demo</h1>
    <div id="log"></div>
    <br>
    <form id="form">
      <label for="text">Input: </label>
      <input type="text" id="text" autofocus>
    </form>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    
    <script>
        const log = (text, color) => {
            document.getElementById('log').innerHTML += `<span style="color: ${color}">${text}</span><br>`;
        };

        const socket = io.connect('http://' + location.host);

        // Listen for messages with the 'echo_response' event name
        socket.on('echo_response', data => {
            log('<<< ' + data.message, 'blue');
        });


        document.getElementById('form').onsubmit = ev => {
            ev.preventDefault();
            const textField = document.getElementById('text');
            log('>>> ' + textField.value, 'red');

            // Send data with the 'echo' event name
            socket.emit('echo', { message: textField.value });

            textField.value = '';
        };
    </script>

  </body>
</html>